[submodule ".magic-context"]
	path = .magic-context
	url = git@github.com:igamenovoer/magic-context.git
	branch = main
[submodule "context/refcode/smplx"]
	path = context/refcode/smplx
	url = https://github.com/vchoutas/smplx.git
[submodule "context/refcode/smplify-x"]
	path = context/refcode/smplify-x
	url = https://github.com/vchoutas/smplify-x.git
	branch = master
[submodule "context/refcode/human_body_prior"]
	path = context/refcode/human_body_prior
	url = https://github.com/nghorbani/human_body_prior.git
	branch = master
[submodule "context/refcode/igpy"]
	path = context/refcode/igpy
	url = git@github.com:igamenovoer/igpy.git
	branch = main
[submodule "context/refcode/FlowMDM"]
	path = context/refcode/FlowMDM
	url = git@github.com:imsight-forks/FlowMDM.git
